<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Link</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
        background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        transition: 0.5s;
      }
      .container {
        background-color: #fff;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        width: 280px;
        text-align: center;
        transition: 0.5s;
      }
      .container h1 {
        margin-bottom: 15px;
        color: #007bff;
        transition: 0.5s;
      }
      .container input {
        width: calc(100% - 16px);
        padding: 8px;
        margin-bottom: 8px;
        border: 2px solid #007bff;
        border-radius: 6px;
        box-sizing: border-box;
        transition: 0.5s;
      }

      .container input:focus {
        outline: none;
        border: 2px solid #012246;
        transition: 0.25s;
      }
      .container button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s;
        transition: 0.5s;
      }
      .container button:hover {
        background-color: #0056b3;
        transition: 0.5s;
      }
      .preview {
        margin-top: 8px;
        color: #333;
        transition: 0.5s;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Create Short Link</h1>
      <input type="text" id="longLink" placeholder="Enter long link" />
      <input type="text" id="linkName" placeholder="Enter link name" />
      <div class="preview" id="linkPreview"><%=domain%>/</div>
      <button onclick="createShortLink()">Create Link</button>
    </div>

    <script>
      document
        .getElementById("linkName")
        .addEventListener("input", function () {
          const linkName = this.value;
          document.getElementById(
            "linkPreview"
          ).textContent = `<%=domain%>/${linkName}`;
          linkExists();
        });

      document
        .getElementById("longLink")
        .addEventListener("input", function () {
          if (!isLinkNameValid()) {
            const button = document.querySelector(".container button");
            button.disabled = true;
            button.style.backgroundColor = "gray";
            button.style.transition = "background-color 0.3s";
            document.getElementById("longLink").style.border = "2px solid red";
          } else {
            const button = document.querySelector(".container button");
            button.disabled = false;
            button.style.backgroundColor = "#007bff";
            document.getElementById("longLink").style.border =
              "2px solid #007bff";
          }
        });

      function isLinkNameValid() {
        const longLink = document.getElementById("longLink").value;
        var res = longLink.match(
          /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g
        );
        return res !== null;
      }

      function linkExists() {
        const linkName = document.getElementById("linkName").value;
        fetch(`/linkExists/${linkName}`).then((response) => {
          if (response.status != 405) {
            const button = document.querySelector(".container button");
            button.disabled = false;
            button.style.backgroundColor = "#007bff";
            document.getElementById("linkName").style.border =
              "2px solid #007bff";
          } else {
            const button = document.querySelector(".container button");
            button.disabled = true;
            button.style.backgroundColor = "gray";
            button.style.transition = "background-color 0.3s";
            document.getElementById("linkName").style.border = "2px solid red";
          }
        });
      }

      function createShortLink() {
        let longLink = document.getElementById("longLink").value;
        const linkName = document.getElementById("linkName").value;
        if (longLink.startsWith("https://")) {
          longLink = longLink.slice(8);
        } else if (longLink.startsWith("http://")) {
          longLink = longLink.slice(7);
        }
        // make a POST request to /addLink/longLink/linkName
        fetch(`/addLink/${longLink}/${linkName}`, {
          method: "POST",
        }).then((response) => {
          if (response.status === 200) {
            window.location.href = "https://" + longLink;
          }
        });
      }
    </script>
  </body>
</html>
